<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet"href="/static/CSS/corona.css">
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/cases'>Cases</a>
        <a href='/contact'>Contact</a>
    </nav>

    <h1>CORONAVIRUS</h1>

    <form action="https://formspree.io/mvownbzw" method="post">
        <label for="name">Name:</label><br>
        <input name="name type="text" id="name" required><br>
        <label for="contact">Contact:</label><br>
        <input name="contact type="text" id="contact" required><br>
        <label for="email">Email:</label><br>
        <input name="email" type="text" id="email" required><br>
        <label for="message">Message:</label><br>
        <input name="message" type="text" id="message" required><br><br>
        <input type="submit" value="Submit">
      </form> 

    <div>
        <footer>
            <span> &copy; copyright 2020 | COVID-19 </span>
            <a href="https://.facebook"><img src="/static/images/008-facebook.png" width="25px" alt="">
            <a href="https://web.whatsapp.com"><img src="/static/images/013-whatsapp.png" width="25px" alt="">
            <a href="https://instagram.com"><img src="/static/images/011-instagram.png" width="25px" alt="">
        </footer>
    </div>
    
</body>
</html>