<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19</title>
    <link rel="stylesheet"href="/static/CSS/corona.css">
</head>
<body>
    <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/cases'>Cases</a>
        <a href='/contact'>Contact</a>
    </nav>    
    
        <h1>CORONAVIRUS</h1>

        <center>
        <img src="/static/Images/th (1).jpg" width="800px">
        </center>

        <p>Coronavirus is a virus that is common among animals. It is a dangerous disease with incubation period between 
         4-6 days .  It is fatal especially for those with weakened immune system,the elderly and the young. There are many symptoms. Namely: fever,runny nose,cough,sore throat and possibly a headache. To prevent yourself, you need
         to wash your hands with soap and water before touching anything including your nose,eyes and mouth ,covering your
         mouth and nose when coughing and sneezing etc.</p>

         <div>
            <footer>
                <span> &copy; copyright 2020 | COVID-19 </span>
                <a href="https://.facebook"><img src="/static/images/008-facebook.png" width="25px" alt="">
                <a href="https://web.whatsapp.com"><img src="/static/images/013-whatsapp.png" width="25px" alt="">
                <a href="https://instagram.com"><img src="/static/images/011-instagram.png" width="25px" alt="">
            </footer>
        </div>

    
</body>
</html>